# Visual Studio crap
Release
bin
obj
*.ncb
*.vcproj*
*.suo
*.user
*.sln.cache
*.manifest
mods/*/*.dll

# ReSharper crap
_ReSharper.*/

#binary stuff
/*.dll
*.pdb
*.mdb
*.exe

# backup files by various editors
*~
*.orig
\#*
.*.sw?
# dependency DLLs (different for every platform!)
cg.dll
cgGL.dll

/OpenRa.Gl.dll

#monodevelop
*.pidb
*.userprefs

# osx crap
.DS_Store

# osx build crap
packaging/osx/launcher/build/
packaging/osx/launcher/OpenRA.xcodeproj/*.pbxuser
packaging/osx/launcher/OpenRA.xcodeproj/*.perspectivev3
packaging/osx/launcher/OpenRA.xcodeproj/*.mode1v3
temp.c
temp.o
temp.s
OpenRA.Launcher.Mac/build/
OpenRA.Launcher.Mac/OpenRA.xcodeproj/*.pbxuser
OpenRA.Launcher.Mac/OpenRA.xcodeproj/*.perspectivev3
OpenRA.Launcher.Mac/OpenRA.xcodeproj/*.mode1v3
*.config
*.resources

# KDE crap
*.kate-swp
*.directory

#Bit of CnC SW that arn't needed on git
mods/cnc_sw/README.txt
mods/cnc_sw/OpenRA.Mods.cnc_sw.dll
mods/cnc_sw/starmusc.mix
